{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <p>{{ article.content|nl2br }}</p>

    <p><a href="{{ path('blog_view', {id: article.blog.id}) }}">Go back to {{ article.blog.name }}</a></p>

    <p><a href="{{ path('article_edit', {id: article.id}) }}" class="btn btn-outline-warning">Edit</a></p>
{% endblock %}
